.member-detail {
  display: grid;
  grid-template-columns: 2fr repeat(6, 1fr);
  &.quote {
    grid-template-columns: 2fr repeat(4, 1fr);
  }
  margin-top: 1rem;
  padding-bottom: 1em;
  padding-top: 1rem;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 99%;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
  .member-detail-image {
    height: 40px;
    margin-right: 10px;
  }
  .option-button{
    cursor: pointer;
  }
  ul {
    padding-left: 0;
  }
  .quantity-button {
    padding: 0.6rem;
    border-radius: 7px;
    background-color: #f2eded;
  }
}