.members-list {
  background-color: rosybrown;
  height: 150px;
  margin-top: 10px;
}

.members-list-title {
  color: gray;
  font-weight: 700;
  text-align: left;
}

.members-list-header {
  display: grid;
  grid-template-columns: 2fr repeat(6, 1fr);
  &.quote {
    grid-template-columns: 2fr repeat(4, 1fr);
  }
  grid-template-rows: 1fr;
  margin-top: 30px;
  background-color: #f4f4f4;
  border-radius: 12px;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 700;
    font-size: 0.8rem;
  }
}

.members-list-container {
  height: 70vh;
  max-height: 60vh;
  padding: 10px;
}
.members-list-container::-webkit-scrollbar {
  display: none;
}

.member-list-container {
  max-height: 40vh;
  overflow-y: scroll;
  padding-left: 0.3rem;
  width: 100%;
  padding-bottom: 0.5rem;
}

.final-cost {
  background-color: #28a74545;
}

.loading-modal {
  @keyframes spin { 100% { transform:rotate(360deg); } }
  $orange: #f18b18;

  .container {
    position: relative;
  }

  .pax-loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    
    &__spinner {
      position: relative;
      width: 80px;
      height: 80px;
      background-color: #fff;
      border-radius: 5px;
      transition: all .3s ease;
      
      &:after {
          position: absolute;
          top: calc(50% - 20px);
          left: calc(50% - 20px);
          border: 3px solid $orange;
          content: "";
          display: block;
          height: 40px;
          width: 40px;
          border-radius: 290486px;
          border-right-color: transparent;
          border-top-color: transparent;
          animation: spin 0.4s linear infinite;
        }
      
      .fade-enter &, .fade-leave-to & {
        transform: scale(1.1);
      }
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
  }
}