.project-detail {
  background-color: orange;
  height: 80px;
  margin: 10px;
}

.info-container {
  width: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 12px;
  font-size: 0.9rem;
  background-color: #f1f1f1;

  .title-detail {
    width: 100%;
    text-align: center;
    background-color: #dadada;
    font-weight: bold;
    border-radius: 0.7rem;
    padding: 0.4rem 0.2rem;
    align-self: flex-start;
  }
  
  .info {
    margin: 0.2rem 3rem;
    border-radius: 0.7rem;
    padding: 0.4rem 0.2rem;
    width: 100%;
    text-align: left;
    padding-left: 1rem;
    color: rgb(106, 106, 106);
    background-color: #fff;
  }
}
