{% extends 'email/base_action.html' %}
{% load static i18n account app_settings%}
{% app_settings  as settings %}
{% block title %}{% trans "Reset Password" %}{% endblock title %}
{% block app_logo %}{% app_settings  as settings %}{% static settings.APP_LOGO_EMAIL %}{% endblock app_logo %}
{% block content %}
{% user_display user as user_display %}
{% app_settings  as settings %}
{% autoescape off %}
{% blocktrans with site_name=settings.APP_NAME site_domain=current_site.domain %}<p>Hello from {{ site_name }}!</p>
<p>You're receiving this e-mail because you or someone else has requested a password for your user account.</p>
<p>It can be safely ignored if you did not request a password reset. Click "Reset Password" button to reset your password.</p>{% endblocktrans %}
{% endautoescape %}
{% endblock content %}
{% block action_url %}{{ password_reset_url }}{% endblock action_url %}
{% block action_text %}{% trans "Reset Password" %}{% endblock action_text %}
